/* main, footer */
/* main */
#wrap header {
    position:absolute;
    top:0; left:0;
    width:100%; z-index:20;
    background:transparent;
    padding-top:15.5px;
}
#wrap header .header_inner {
    position:relative;
    display:flex; align-items:center; justify-content:space-between;
    height:60px;
    width:100%;
    padding:0 105.5px;
}
#wrap header .header_inner h1 {}
#wrap header .header_inner h1 a {}
#wrap header .header_inner h1 a img {
    width:170px;
    height:auto;
}
#wrap header .header_inner nav {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
#wrap header .header_inner nav .gnb {
    display:flex;
    flex-flow:row nowrap;
    gap:50px; 
}
#wrap header .header_inner nav .gnb > li {
    position:relative;
}
#wrap header .header_inner nav .gnb > li:hover > a {
    color:#585858;
}
#wrap header .header_inner nav .gnb > li:hover .lnb_bg {
    display:block;
}
#wrap header .header_inner nav .gnb > li .yogurt_on {}
#wrap header .header_inner nav .gnb > li > a {
    font-size:1.125rem;
}
#wrap header .header_inner nav .gnb > li .lnb_bg {
    position:absolute;
    top:30px;
    left:-15px;
    background: #fff;
    z-index:100;
    width:125px;
    padding:14px 14px 18px;
    display:none;
}
#wrap header .header_inner nav .gnb > li .lnb_depth {
}
#wrap header .header_inner nav .gnb > li .lnb_depth li {
    margin-bottom:15px;
}
#wrap header .header_inner nav .gnb > li .lnb_depth li:last-child {
    margin-bottom:0;
}
#wrap header .header_inner nav .gnb > li .lnb_depth li > a {
    font-size: 0.9375rem;
    letter-spacing:-0.02rem;
}
#wrap header .header_inner .right_menu {
    display:flex; 
    gap:22px;
}
#wrap header .header_inner .right_menu li {}
#wrap header .header_inner .right_menu li a {}
#wrap header .header_inner .right_menu li a img {width:22px;}
/* footer */
footer {background:#F6F6F4;}
footer .footer_inner {
    width:1920px;
    padding:113.5px 320px;
    margin:0 auto;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    box-sizing:border-box;
}
footer .footer_inner .footer_logo {}
footer .footer_inner .footer_logo img {
    margin-bottom:47px;
}
footer .footer_inner .footer_info {
    margin-bottom:28px;
}
footer .footer_inner .footer_info li {
    line-height:1.75;
    font-weight:300;
}
footer .footer_inner .footer_info li a {
    font-weight:400;
}
footer .footer_inner .footer_link {
    margin-bottom:13px;
}
footer .footer_inner .footer_link a {
    font-weight:600;
}
footer .footer_inner p {
    font-weight:300;
}
footer .footer_inner .footer_sns {
    margin-top:47px;
    display:flex;
    gap:25px;
}
footer .footer_inner .footer_sns a {
    display:inline-block;
}
footer .footer_inner .kcp_mark {
    position:absolute;
    bottom:141px;
    right:320px;
}
footer .footer_inner .kcp_mark img {
    width:80px;
    height:auto;
}